<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="modal-title" mat-dialog-title>{{title}}</h1>
      <div class="modal-description my-3" mat-dialog-content [innerHTML]="description"></div>
    </div>
    
    <div class="col-12" *ngIf="inputGroup.length > 0">
      <form [formGroup]="modalForm">
        <div class="modal-body">
          <div class="container">
            <div class="form-group my-2" *ngFor="let input of inputGroup">
              <label [for]="input.name">{{input.label}}</label>
              <input *ngIf="operacao == 'editar'" [type]="input.type" 
              [ngClass]="{'form-control': input.type != 'checkbox'}" 
              [checked]="data.isPayed"
              (click)="toggleIsPayed(input)" 
              [formControlName]="input.formControlName" />
            </div>
          </div>
        </div>
      </form>
    </div>

    <div mat-dialog-actions class="modal-buttons">
      <button class="btn btn-secondary w-30" (click)="dialogRef.close(true)">{{btnFechar}}</button>
      <button class="btn btn-primary w-30" (click)="confirmarClick()" *ngIf="btnConfirmar.length > 0">{{btnConfirmar}}</button>
    </div>

  </div>
</div>