@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import '../../../assets/styles/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.modal{
    &-title{
        font-size: 18px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        color: $text-color-primary;
    }
    &-buttons{
        display: flex;
        place-content: center;
        place-content: space-evenly;
    }
    &-description{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
    &-paid{
      &-input{
        display: flex;
        align-items: center;
        & > label{
          margin-right: .5rem;
        }
      }
    }
}

input[type="checkbox"] {
    appearance: none;
    background-color: $w;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}


@media screen and (min-width: $md){
  .btn-secondary, .btn-primary {
    width: 30%
  }
}