@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payfriends {
    &-header {
        padding: 2.5rem 0;
        background-color: #002D69;
        @include flex();

        &__logo {
            cursor: pointer;
        }

        &__item {
            @include flex();
            justify-content: flex-end;
            img {
                width: 3em;
                border-radius: 50% 50%;
            }
        }

        &__button {
            background: transparent;
            border: none;
            color: #FFF;
        }
    }
}

.transaction-status {
    margin: 0;
    padding: 0;
}