.delete-payment {

    &-header {
        margin-bottom: 5px;
    }

    &-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;

        p {
            font-size: 1.2em;
        }
    }

    &-option {
        display: flex;
        justify-content: center;
        gap: 8px;

        button {
            width: 100%;
        }
    }
}