#tasks {
  background-color: var(--light-gray-color);
  min-height: 100vh;
  padding: 50px 20px;
  margin-bottom: 100px;
}

#tasks .tasks-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.mat-field-size {
  min-width: 200px;
  max-height: 35px;
}
