#task-modal .mat-field-size {
  width: calc(50% - 5px);
  margin: 0 !important;
}

#task-modal .flex-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

::ng-deep #task-modal .flex-form .mat-form-field-wrapper .mat-form-field-prefix,
::ng-deep #task-modal .flex-form .mat-form-field-wrapper .mat-form-field-suffix {
  top: -0.1rem !important;
}
