:host {

    .container {
        display: flex;
        align-items: center;
        height: 100%;

        .left {
            flex: 0 0 calc(37.5%);
            height: 100%;
            display: flex;
            justify-content: center;
            background-color: #F2F2F2;

            @media only screen and (max-width: 620px) {
                flex: 0 0 100%;
            }

            .login-form {
                display: flex;
                flex-direction: column;
                margin: 317px 106px 368px 106px;
                width: calc(37.5%);
                //height: 339px;//339px


                @media only screen and (max-width: 620px) {
                    margin: 317px 107px 368px 107px;
                    width: 100%;
                }

                img {
                    width: 154px;
                    height: 29px;
                }

                h1 {
                    font-family: Montserrat;
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 37px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #333333;
                    margin-top: 18px;
                }

                .login-input {
                    height: 54px;
                    width: 326px;
                    left: 1px;
                    top: 1px;
                    border-radius: 3px;
                    margin-top: 33px;
                }

                .login-button {
                    height: 36px;
                    width: 328px;
                    border-radius: 4px;
                    background-color: #007DFE;
                    margin-top: 35px;
                }

                .login-label {
                    font-family: 'Roboto';
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 1.25px;
                    text-align: center;
                    color: #fff;
                }
            }


        }

        .right {
            text-align: center;
            height: 100%;
            width: calc(62.5%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            background-color: white;

            .image {
                margin: 225px 99px 220px 64px
            }

            @media only screen and (max-width: 620px) {
                display: none;
            }
        }
    }

    ;



}