<div class="login-container">
    <div class="login-box">
        <div class="logo-container">
            <img src="../../assets/Logo_login.png" alt="login image">
        </div>
        <div>        
            <h1>Bem vindo de volta</h1>
        </div>
        <form [formGroup]="userLoginFormGroup" (submit)="onSubmit()">
            <div class="form-control">
                <mat-form-field appearance="outline">
                    <mat-label>Usuário</mat-label>
                    <input matInput placeholder="Usuário" formControlName="username">
                    <mat-error >
                        Campo <strong>obrigatório</strong>!
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-control">
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="Senha" formControlName="password">
                    <mat-icon matSuffix>remove_red_eye</mat-icon>
                    <mat-error >
                        Campo <strong>obrigatório</strong>!
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <div class="btn-submit-login-container">
            <button class="btn-submit-login" matTooltip="Entrar" mat-button type="button" [routerLink]="['/home']">
                Entrar
            </button>
    
        </div>
    </div>      
</div>

<div class="img-container">
    <img src="../../assets/man-doing-online-payment 1.svg" alt="login image">
</div>



