@import "../../styles.scss";
::ng-deep .mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: $color-primary-lighter !important;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: $color-primary-lighter !important;
}

.page-content {
    padding: 16px;
}

.add-task-btn{
  display: block;
  height: 40px;
  line-height: 20px;
  background: $color-primary-lighter;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  
  mat-icon {
      color: #fff;
      font-size: 20px;
      line-height: 20px;
  }
}


.message-empty-table {
  padding: 32px 16px;
  text-align: center;
  color: rgba($color: $color-primary-darker, $alpha: 0.4);
  filter: brightness(130%);
  font-weight: bold;
}

.message-error-table-data {
  padding: 32px 16px;
  text-align: center;
  color: rgba($color: #f00, $alpha: 0.6);
  font-weight: bold;
}
