<mat-toolbar class="header">
    <span class="logo">
        <a routerLink="/pagamentos">
            <img src="assets/Logo.png" alt="logo"/>
        </a>
    </span>

    <span >
        <a routerLink="/pagamentos" [matMenuTriggerFor]="menu">
            <img src="assets/profile.png" class="profile" alt="profile"/>
        </a>
    </span>

    <mat-menu #menu="matMenu">
        <a routerLink="/perfil" mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Seu perfil</span>
        </a>
        <a mat-menu-item routerLink="/">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sair</span>
        </a>
    </mat-menu>
</mat-toolbar>


