@import '../../../../assets/styles/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Varela+Round&display=swap');

.mat-menu-panel{
    margin-top: 1rem !important;
}

.main{
    &-container {
        max-width: inherit;
    }
    &-logo{
        cursor: pointer;
    }
    
    &-header{
        background-color: $header-color-primary !important;
        height: 90px;
        &-dark{
            background-color: $header-color-primary-dark !important;
        }
    }
    &-avatar{
        border-radius: 50%;
        width: 5%;
        cursor: pointer;
    }
    &-leftCol{
        align-self: center;
    }
    &-rightCol{
        text-align: right;
        align-self: center;
    }
    &-more{
        &-button{
            background: transparent !important;
            border: none !important;
        }
        &-icon{
            color: $w;
            position: relative;
            top: 8px;
        }
    }
}

@media screen and (max-width: $sm){
    .main{
        &-header{
            height: 50px;
        }
        &-avatar{
            width: 10%;
        }
    }
}

@media screen and (max-width: $md){
    .main{
        &-header{
            height: 50px;
        }
        &-avatar{
            width: 15%;
        }
    }
}

@media screen and (max-width: $lg){
    .main{
        &-header{
            height: 50px;
        }
        &-avatar{
            width: 10%;
        }
    }
}

@media screen and (max-width: $xl){
    .main{
        &-header{
            height: 50px;
        }
        &-avatar{
            width: 10%;
        }
    }
}

@media screen and (min-width: $xl){
    .table-container {
        max-width: inherit;
    }
}