.navbar {
  display: flex;

  justify-content: space-between;
  background: var(--darkerBlue);
  max-height: 90px;

  &-title {
    font-family: "Montserrat";
    font-size: 24px;
    padding: 30px;
    color: var(--white);

    .pay {
      font-weight: 800;
    }

    .friends {
      font-weight: 400;
    }
  }

  &-avatar {
    padding: 22px 30px;
  }
}
