<div class="content">
    <div class="formLogin">
        <img src="./../../../assets/LogoAzul.png" alt="logo" class="logo"/>
        
        <mat-card-title class="titleForm">Bem vindo de volta</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Email"  [(ngModel)]="user.email" name="email" mat-error required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" [type]="hide ? 'password' : 'text' " placeholder="Senha"  [(ngModel)]="user.password" name="password" mat-error required>
                <i class="material-icons" matSuffix (click)="hide = !hide" >{{hide ? 'visibility' : 'visibility_off'}}</i>
            </mat-form-field>
        </form>
        
        
        <div mat-dialog-actions>
            <button mat-button (click)="getLogin('user.email', 'user.password')" class="buttonPayment">Salvar</button>
        </div>
    </div>
    <div class="boxImg">
        <img src="./../../../assets/man-doing-online-payment 1.svg" class="imgLogin" alt="logo"/>
    </div>
</div>

<router-outlet></router-outlet>