<div class="count-page">
  <div class="count-page__arrow" [ngStyle]="current === 1 && { 'pointerEvents':'none', 'opacity':'5px'}">
    <app-icon-button name="chevron_left" (callback)="prev()"></app-icon-button>
  </div>
  <ul class="count-page__list">
    <li 
      [ngClass]="(i + 1) === current ? 'count-page__item count-page__item--selected' : 'count-page__item'"  
      *ngFor="let item of pages; index as i"
      (click)="onClick(i + 1)"
      [attr.data-disabled]="pages.length > 10 && i != 0 && i != pages.length - 1 && i < pages.length - 3 && i > 0 + 3 && i != current - 1 && i != current + 1"
    >{{ i + 1 }}</li>
  </ul>
  <div class="count-page__arrow" [ngStyle]="current === pages.length && { 'pointerEvents':'none', 'opacity':'5px'}">
    <app-icon-button name="chevron_right" (callback)="next()" ></app-icon-button>
  </div>
</div>
