<section class="auth">
  <div class="login">
    <div>
      <img class="logo" src="./../../assets/images/Logo.png">
      <h4>Bem vindo de volta</h4>
      
      <form>
        <div class="input-field">
          <input type="email" id="email" name="email" placeholder="joao@gmail.com">
          <label class="active">Email</label>
        </div>
        <div class="input-field">
          <input type="email" id="senha" name="senha" placeholder="******">
          <label class="active">Senha</label>
        </div>

        <button class="btn btn-primary">entrar</button>
      </form>
    </div>
  </div>
  <div class="apresentation mobile-reverse">
    <img src="./../../assets/images/man-doing-online-payment.png">
  </div>
</section>