@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

.payfriends-notfound {
    @include flex();
    width: 100%;
    background-color: rgb(15, 15, 39);
    height: 100vh;
    padding: 2em;
    img {
        width: inherit;
        height: 80vh;
    }
    button {
        margin-bottom: 3em;
    }
}