table{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0px 0px 8px 8px;
}

table tr{
    display: grid;
    grid-template-columns: 20% 20% 15% 15% 15% auto;
    align-items: center;
}

table th{
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    padding: 17px 12px;
    color: #2D3540;
    line-height: 17px;
    text-align: start;
}

table .inverter-btn{
    vertical-align: bottom;
    cursor: pointer;
}

table td{
    font-family: 'Lato';
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2D3540;
    margin: 8px 0;
    padding: 17px 12px;
}

table td span{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: #69788C;
    margin-top: 4px;
}

table .line-table:nth-child(odd) {
    background: #F5F8FA;
}

/*checkbox*/
table .chk input {
    display: none;
}

table .chk span {
    width: 18px;
    height: 18px;
    display: block;
    background-color: #002D69;
    border: 1px solid #002D69;
    border-radius: 2px;
}

table .chk input:checked + span {
    background-color: #002D69;
    background-image: url(./../../../assets/images/icons/check.png);
    background-image: url(./../../../assets/images/icons/check.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/*buttons*/
table .table-buttons{
    text-align: end;
    margin-right: 28px;
}

table .table-btn{
    border: none;
    background-color: transparent;
    height: 100%;
}