@import "~/src/scss/base/variables";

:host {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    min-height: 90px;
    background-color: $tertiary-color;
    padding-left: 30px;
    padding-right: 30px;

    .profile-actions {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;

      img {
        height: 45px;
        border-radius: 50%;
        margin-right: 10px;
      }

      button {
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
        margin-top: 5px;
      }
    }
  }
}
