<header>
  <app-logo [lightMode]="true"></app-logo>
  <div class="profile-actions">
    <img     
      src="../../../../../../assets/img/eu-avatar.png"
      alt="Avatar"
    />
    <button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="viewProfile()">
      <mat-icon>person_outline</mat-icon>Profile
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>Sair
    </button>
  </mat-menu>
</header>
