@import "~/src/scss/base/variables";

:host {
  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: $primary-color;

    strong {
      font-weight: 800;
      color: $tertiary-color;
    }

    &.light {
      color: $secondary-color;

      strong {
        color: $secondary-color;
      }
    }
  }
}
