#header {
  background-color: var(--indigo-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

#header img {
  object-fit: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
