@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,300;0,600;0,800;1,700&family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;

  outline: none;  
}

body {
  background-color: $primary-background-color;
}


.input-text-container {
  position: relative;
  display: flex;

  .floating-label {
    position: absolute;
    top: 12px;
    left: 12px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);

    pointer-events: none;
    transition: 0.2s ease all;
  }

  input:focus ~ .floating-label,
  input:not(:placeholder-shown) ~ .floating-label {
    top: -8px;
    left: 13px;
    font-size: 12px;
    line-height: 1.33;
    opacity: 1;
    padding: 0 2px;
    background-color: $primary-background-color;
  }

  input {
    flex: 1 1 auto;
    padding: 15px;
    font-size: 0.8889rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: $primary-background-color;
  }
}

.hide {
  display: none;
}