$primary-color: #007DFE;
$secondary-color: #F5F5F5;
$tertiary-color: #002D69;

$primary-text-color: #FFFFFF;
$secondary-text-color: #333333;
$tertiary-text-color: #FFFFFF;

$primary-background-color: #F2F2F2;
$secondary-background-color: #002D69;
$tertiary-background-color: #FFFFFF;
