<div class="header" (mouseleave)="show = false">    
    <logo-svg [cPay]="'#ffffff'" [cFriends]="'#ffffff'"></logo-svg>

    <div class="profile-img" (click)="show = !show">
        <img src="assets/img/profile.png" alt="Perfil">
    </div>
    <div class="dropdown-menu" *ngIf="show">
        <ul (click)="show = false">
            <li class="detail-user">
                <p>Olá {{ user?.name }}</p>
                <small>{{ user?.email }}</small>
            </li>
            <li class="divider" [routerLink]="['/profile']">Perfil</li>
            <li [routerLink]=" ['/payments']">Meus pagamentos</li>
            <li class="divider" (click)="goOut()">Sair</li>
        </ul>
    </div>
</div>