@import "src/styles/_mixins.scss";

.myPayments {
  height: 100%;
  background: var(--ligtherGray);

  &-header {
    margin-top: 65px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: self-end;

    h1 {
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 36px;
    }
    button {
      @include button(var(--primaryBlue), var(--white));
      min-width: 230px;
    }
  }

  &-tableContainer {
    padding: 0 48px 48px;
  }
}
