<pay-modal class="edit-payment-modal" id="edit-payment-modal">

    <div class="modal-header">
        <h2>Alterar pagamento</h2>
    </div>

    <div class="modal-content">
        <form [formGroup]="editForm">
            <pay-input [config]="userInputConfig"></pay-input>
            <pay-input [config]="valueInputConfig"></pay-input>

            <pay-input [config]="dateInputConfig"></pay-input>
            <pay-input [config]="titleInputConfig"></pay-input>
        </form>
    </div>

    <div class="modal-footer">
        <pay-button [config]="cancelModalConfig" (onClick)="closeModal()"></pay-button>
        <pay-button [config]="submitModalConfig" (onClick)="submitModal(payment)"></pay-button>
    </div>
    
</pay-modal>
