@import "src/styles/_mixins.scss";

//Overrides progress spinner
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--primaryBlue);
}

//Overrides the background shadow when autocomplete is used on inputs
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  padding: 0 8px !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

//Overrides the layout of profile pic and more filters menus
.mat-menu-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;

  #filterButtons {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    button {
      @include button(var(--primaryBlue), var(--white));
      max-width: 120px;
    }
  }
}
