<mat-toolbar class="header mat-ellevation-z4">
  <span>
    
    <a>
      <img class="logo" src="assets/task/svg/logo_white.svg" alt="Pay Friends">
    </a>

    <a>

      <button class="menu" id="userMenu" mat-button [matMenuTriggerFor]="userMenu">
        <div fxLayout="row" fxLayoutAlign="center center">
          <img class="avatar" src="assets/task/svg/perfil.svg">
        </div>
      </button>

      <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

        <button mat-menu-item  id="logout-button" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Sair</span>
        </button>

      </mat-menu>

    </a>
  </span>

</mat-toolbar>