.header {
  display: flex;
  align-items: center;
  height: 5.63rem;
  background-color: #002D69;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  margin-left: 1.88rem;
  max-height: 1.81rem;
  max-width: 8.56rem;
}

.header .menu{
  position: absolute;
  right: 1.88rem;
  top: 1.38rem;
  background: inherit;
  color: inherit;
}