<table>
  <tr>
    <th>Usuário <img class="inverter-btn" src="./../assets/images/icons/inverter.png"></th>
    <th>Título <img class="inverter-btn" src="./../assets/images/icons/inverter.png"></th>
    <th>Data <img class="inverter-btn" src="./../assets/images/icons/inverter.png"></th>
    <th>Valor <img class="inverter-btn" src="./../assets/images/icons/inverter.png"></th>
    <th>Pago <img class="inverter-btn" src="./../assets/images/icons/inverter.png"></th>
  </tr>
  <tr class="line-table">
    <td>Claudia <br/> <span>@claudia</span></td>
    <td>Professor 1</td>
    <td>23 Jun 2020 <br/> <span>11:00 AM</span></td>
    <td>R$ 100,00</td>
    <td>
      <label class="chk">
        <input type="checkbox">
        <span></span>
      </label>
    </td>
    <td class="table-buttons">
      <button class="table-btn"><img src="./../assets/images/icons/pen.png"></button>
      <button class="table-btn"><img src="./../assets/images/icons/delete.png"></button>
    </td>
  </tr>
  <tr class="line-table">
    <td>Claudia <br/> <span>@claudia</span></td>
    <td>Professor 1</td>
    <td>23 Jun 2020 <br/> <span>11:00 AM</span></td>
    <td>R$ 100,00</td>
    <td>
      <label class="chk">
        <input type="checkbox"><span></span>
      </label>
    </td>
    <td class="table-buttons">
      <button class="table-btn"><img src="./../assets/images/icons/pen.png"></button>
      <button class="table-btn"><img src="./../assets/images/icons/delete.png"></button>
    </td>
  </tr>
  <tr class="line-table">
    <td>Claudia <br/> <span>@claudia</span></td>
    <td>Professor 1</td>
    <td>23 Jun 2020 <br/> <span>11:00 AM</span></td>
    <td>R$ 100,00</td>
    <td>
      <label class="chk">
        <input type="checkbox"><span></span>
      </label>
    </td>
    <td class="table-buttons">
      <button class="table-btn"><img src="./../assets/images/icons/pen.png"></button>
      <button class="table-btn"><img src="./../assets/images/icons/delete.png"></button>
    </td>
  </tr>
  <tr class="line-table">
    <td>Claudia <br/> <span>@claudia</span></td>
    <td>Professor 1</td>
    <td>23 Jun 2020 <br/> <span>11:00 AM</span></td>
    <td>R$ 100,00</td>
    <td>
      <label class="chk">
        <input type="checkbox"><span></span>
      </label>
    </td>
    <td class="table-buttons">
      <button class="table-btn"><img src="./../assets/images/icons/pen.png"></button>
      <button class="table-btn"><img src="./../assets/images/icons/delete.png"></button>
    </td>
  </tr>
</table>