.payments {
    &__label {
        font-size: small;
        color: grey;
    }

    &__title {
        font-size:36px;
    }

    &__add-button {
        display: flex;
        justify-content: flex-end;
    }

    &__container {
        background-color: white;
        border-radius: 8px;
        margin-top: 21px;
        padding: 15px;
    }

    &__link {
        cursor: pointer;
    }

    &__count-rows {
        display: flex;
        align-items: center;
        height: min-content;
        margin-right: 30px;
    }
}
