<section class="payments">
    <div class="payments__title">
        Meus pagamentos
    </div>
    <div class="payments__add-button">
        <button type="button" class="btn btn-primary px-4" (click)="openPayment()">
            Adicionar pagamento
        </button>
    </div>
    <div class="payments__container">
        <div class="d-lg-flex justify-content-between">
            <app-filter (changedSearch)="changedSearch($event)"></app-filter>
            <div class="d-lg-flex">
                <div class="payments__count-rows">
                    <span>Exibir</span>
                    <select class="form-select ms-2" [(ngModel)]="page.pageSize" (ngModelChange)="loadPayments();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="15">15</option>
                        <option [ngValue]="20">20</option>
                    </select>
                </div>
                <ngb-pagination size="sm" class="border-0" [collectionSize]="172" [(page)]="page.pageCurrent" maxSize="5"
                    [pageSize]="page.pageSize" (pageChange)="loadPayments()">
                 </ngb-pagination>
            </div>
        </div>
        <ngx-datatable class="bootstrap table-responsive-md" [rows]="paymentList$ | async" columnMode="force"
            [messages]="{ emptyMessage: 'Nenhum registro encontrado' }" [rowHeight]="'auto'" [scrollbarH]="true">
            <ngx-datatable-column name="Usuário" [sortable]="true" prop="username">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.name}}
                    <div><small class="text-muted">@{{row.username}}</small></div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [minWidth]="200" name="Título" prop="title" [sortable]="true"></ngx-datatable-column>
            <ngx-datatable-column name="Data" [sortable]="true" prop="date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.date | date:'dd MMM y'}}
                    <div><small class="text-muted">{{row.date | date:'shortTime'}}</small></div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Valor" [sortable]="true" prop="value">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.value | currency : 'BRL'}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Pago" [sortable]="true" prop="isPayed" cellClass="ngx-datatable-cell-center">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <input type="checkbox" [(ngModel)]="row.isPayed" (change)="updateIsPayed(row)">
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a class="link-dark fs-6 p-2 payments__link" (click)="openPayment(row)" title="Editar">
                        <em class="bi bi-pencil"></em>
                    </a>
                    <a class="link-dark fs-6 p-2 payments__link" (click)="removePayment(row)" title="Excluir">
                        <em class="bi bi-x-circle"></em>
                    </a>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</section>

