.form{
    padding: 0.375rem;
}
.btn{
    min-width: 200px !important;
}
.form-control{
    border-style: none;
}
.title{
    font-weight: bold;
}
.form-footer{
    display: flex;
    justify-content: space-between;
    padding: 0.375rem 0.75rem
}