<div class="form">
    <div class="form-group">
        <span class="form-control title">Excluir Pagamento</span>
        <span class="form-control">Usuário: {{payment.name}}</span>
        <span class="form-control">Data: {{payment.date | date:'dd/MM/yyyy'}}</span>
        <span class="form-control">Valor: ${{payment.value}}</span>
    </div>
    <div class="form-footer">
        <button (click)="closeModal()" class="btn btn-light btn-sm">CANCELAR</button>
        <button (click)="deletePayment(payment)"class="btn btn-primary btn-sm">SALVAR</button>
    </div>

</div>