.delete-payment-modal {
  width: 329px;

  ::ng-deep {
    
    .mat-list-base .mat-list-item .mat-list-item-content {
      padding: 0;
    }

    app-button {
      width: 150px;

      &:first-of-type {
        padding-right: 29px;
      }
    }
  }
}
