.profileImg{
    width: 120px;
    height: 120px;
}
.profileContent{
    padding: 40px;
    display: flex;
}
.profileTxt{
    margin-left: 40px;
}
.textPrimary{
    margin-bottom: 0;
}
.textSecondary{
    color: #69788C;
    margin-bottom: 40px;
}
.buttonPayment{
    color: #FFF;
    background-color: #007DFE;
    float: right;
    margin-top: 30px;
  }