$color-primary: #007DFE;
$color-primary-2: #333333;
$color-primary-3: #0e346a;
$color-primary-light: #a2abbe;
$color-secondary-light: #F5F5F5;
$color-secondary: #b48c40;
$color-base: #222222;
$color-danger: #E6795F;