<section class="payments">
  <h1>Meus pagamentos</h1>
  <button class="btn" (click)="openCreatePaymentModal()">adicionar pagamento</button>

  <section class="header-list">
    <div class="d-flex">
      <div class="search-box">
        <input type="text" [(ngModel)]="userName" placeholder="Pesquisar por usuário">
        <button class="search-btn" (click)="filterByUserName()"></button>
      </div>

      <button class="btn-filter">Filtrar</button>
    </div>

    <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="changePage($event)">
    </pagination-controls>

    <div class="d-flex">
      <div class="btn-display">
        <p>Exibir</p>
        <select [(ngModel)]="limit" (change)="getPayments()">
          <option value="5">5</option>
          <option value="10">10</option>
        </select>
      </div>
    </div>
  </section>

  <app-payment-list (onSorted)="sortBy($event)" [payments]="payments" [limit]="limit" [page]="page" [totalPayments]="totalPayments">
  </app-payment-list>
</section>