<section class="payments">
  <h3 class="font-weight-bold">Meus pagamentos</h3>
  <button class="btn btn-primary" (click)="openCreatePaymentModal()">adicionar pagamento</button>

  <section class="header-list">
    <article class="search-box">
      <input type="text" [(ngModel)]="userName" placeholder="Pesquisar por usuário">
      <button class="search-btn" (click)="filterByUserName()"></button>
    </article>

    <article class="pagination">
      <div class="btn-display">
        <p>Exibir</p>
        <select class="custom-select float-right" [(ngModel)]="limit" (change)="getPayments()">
          <option value="5">5</option>
          <option value="10">10</option>
        </select>
      </div>

      <pagination-controls class="pagination float-right" previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="changePage($event)"></pagination-controls>
    </article>
  </section>

  <app-payment-list (onSorted)="sortBy($event)" [payments]="payments" [limit]="limit" [page]="page" [totalPayments]="totalPayments">
  </app-payment-list>
</section>