.login {
    display: flex;
    align-items: center;
    
    .form-container {
        position: relative;
        width: 35%;
        min-height: 100vh;
        background-color: #F2F2F2;

        .form-content {
            position: absolute;
            display: inline;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    img {
        margin: auto;
    }
}

