<div class="container-fluid mt-0">
    <div class="row align-items-center">
        <div class="col-12 col-md-4 bg-default">
            <form [formGroup]="form" (ngSubmit)="login(form.value)" class="row login-form"
                [ngClass]="{'was-validated': submitted && form.invalid}">
                <div class="col-md-10 offset-md-1 align-self-center">
                    <img alt="logo" src="assets/img/logo-blue.svg">
                    <div class="h3 mt-3">Bem vindo de volta</div>
                    <div class="form-group mt-3" id="username-container">
                        <label>Email</label>
                        <input type="email" class="form-control" name="username"  formControlName="username" required>
                        <div class="invalid-feedback"> Informe um email válido </div>
                    </div>
                    <div class="form-group mt-3" id="password-container">
                        <label>Senha</label>
                        <input type="password" class="form-control" name="password" formControlName="password" required>
                        <div class="invalid-feedback"> Informe uma senha válida </div>
                    </div>
                    <div class="d-grid gap-2 mt-3" id="login-btn-container">
                        <button class="btn btn-primary" type="submit">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-8">
            <div class="text-center">
                <img alt="img" class="img-fluid" src="assets/img/img-login.svg">
            </div>
        </div>
    </div>
</div>