section.auth{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 1440px;
    display: flex;
    align-items: inherit;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
}

section.auth .login{
    max-width: 540px;
    padding: 15px 106px;
    background-color: #F2F2F2;
    align-items: center;
    display: flex;
}

section.auth .logo{
    margin-bottom: 18px;
}

h4{
    margin-bottom: 32px;
}

/*apresentation*/
section.auth .apresentation{
    align-items: center;
    display: flex;
    justify-content: center;
}

section.auth .apresentation img{
    max-width: 495px;
}

/* RESPONSIVO */
@media screen and (max-width: 1024px){
    section.auth{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    section.auth .login{
        display: inline;
        max-width: 100%;
        background-color: transparent;
    }

    section.auth .apresentation img{
        max-width: 300px;
    }

    section.auth .login > div{
        text-align: center;
    }

    h4{
        display: none;
    }

    .input-field > label.active {
        background: #FFFFFF;
        border-color: #FFFFFF;
    }

    .input-field > input{
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    section.auth .login {
        padding: 15px 15px;
    }
}