<section class="row payfriends-login">
    <div class="col-md-4">
        <div class="row payfriends-login__form">
            <div class="col-md-12">
                <img src="assets/images/logo.png" alt="Logotipo da aplicação PayFriends">
                <h1>Bem vindo de volta</h1>
            </div>
            <div class="col-md-12">
                <form [formGroup]="form" class="row">
                    <mat-form-field appearance="outline" floatLabel="always" class="col-md-12">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" [email]="true" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always" class="col-md-12">
                        <mat-label>Senha</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="col-md-12">
                        <button type="submit" mat-raised-button color="primary" class="width-100" (click)="onSubmit()"
                            [disabled]="form.invalid">ENTRAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8 payfriends-login__img">
        <div class="row">
            <div class="col-md-12">
                <img src="assets/images/login.svg" class="img-responsive"
                    alt="Desenho de um homem utilizando a aplicação">
            </div>
        </div>
    </div>
</section> 