$main-font: "Montserrat";
$details-font: "Roboto";
$table-font: "Lato";

$default-button-color: #e0e0e0;
$primary-button-color: #007DFE;
$danger-button-color: #dc3545;

$default-background-color: #F2F2F2;

$primary-text: #2D3540;
$secondary-text: #69788C;

$table-input-border: 1px solid #CFDCE5;