<div class="filters-body">
    <div class="search">
        <input type="text" placeholder="Pesquisar por usuário" name="search" [(ngModel)]="search"
            (ngModelChange)="getByAll(1)">
    </div>
    <div class="pagination-body">       
        <ul class="pagination">
            <li>
                <div class="li-select">
                    <small>Exibir</small>&nbsp;&nbsp;
                    <select class="form-select" name="limit" [(ngModel)]="limit"
                        (ngModelChange)="getByAll(1)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
            </li>
            <li class="page-item {{page !== 1 || 'disabled'}}">
              <a class="page-link" href="#" (click)="getByPageAll($event, page - 1)"><</a>
            </li>
            <li class="page-item" *ngFor="let p of pages">
                <a class="page-link {{p !== page || 'active'}}" href="#" (click)="getByPageAll($event, p)">{{p}}</a>
            </li>
            <li class="page-item {{numEndPage !== page || 'disabled'}}">
              <a class="page-link" href="#" (click)="getByPageAll($event, page + 1)">></a>
            </li>
          </ul>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr class="text-left">
                <th>
                    Usuário
                    <small class="order-top select-top">&and;</small>
                    <small class="order-bottom">&or;</small>
                </th>
                <th>Título</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Pago</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let payment of payments">
                <td>
                    {{ payment?.id }} - {{ payment?.name }}<br>
                    <small>{{ payment?.username }}</small>
                </td>
                <td>
                    {{ payment?.title }}
                </td>
                <td>
                    {{ payment?.date | date }}<br>
                    <small>{{ payment?.date | date : 'h:mm a' }}</small>
                </td>
                <td>
                    {{ payment?.value | currency}}
                </td>
                <td>
                    <input type="checkbox" [checked]="payment?.isPayed">
                </td>
                <td>
                    ...
                </td>
            </tr>
        </tbody>
    </table>
</div>

