<div class="container" (window:resize)="onResize($event)">
  <div class="row d-block d-md-flex">
    <div class="col-6 table-leftCol">
      <h2 class="table-title">Meus pagamentos</h2>
    </div>
    <div class="col-6 table-rightCol">
    </div>
  </div>

  <div class="row" *ngIf="!isMobile">
    <div class="col-12">
      <app-table [isMobile]="isMobile"></app-table>
    </div>
  </div>

  <div class="row" *ngIf="isMobile">
    <div class="col-12">
      <app-cards></app-cards>
    </div>
  </div>
</div>
