<div class="row payfriends-filter">
    <h3 class="col-md-12">Faça uma busca</h3>
    <form [formGroup]="form" class="col-md-12">
        <div class="row">
            <mat-form-field appearance="outline" floatLabel="always" class="col-md-6">
                <mat-label>Título</mat-label>
                <input matInput type="text" formControlName="title_like" id="title_like" />
            </mat-form-field>
            <div class="col-md-6 radio">
                <mat-radio-group formControlName="isPayed" >
                    <mat-label>Pago </mat-label>
                    <mat-radio-button [value]="true">Sim</mat-radio-button>
                    <mat-radio-button [value]="false">Não</mat-radio-button>
                  </mat-radio-group>
                </div>
            <mat-form-field appearance="outline" floatLabel="always" class="col-md-6">
                <mat-label>Valor Inicial</mat-label>
                <input matInput type="tel" formControlName="value_gte" currencyMask id="value_gte" />
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always" class="col-md-6">
                <mat-label>Valor Final</mat-label>
                <input matInput type="tel" formControlName="value_lte" currencyMask id="value_lte" />
            </mat-form-field>
            <div class="col-md-12 payfriends-filter__footer">
                <button type="button" mat-raised-button (click)="dismiss()">cancelar</button>
                <button type="submit" mat-raised-button color="primary" (click)="onSubmit()"
                    [disabled]="form.invalid">salvar</button>
            </div>
        </div>
    </form>
</div>