<div
  class="paymentModal"
  [ngClass]="data.title === 'Excluir' ? 'isDelete' : ''"
>
  <h1 mat-dialog-title>{{ data.title }} pagamento</h1>
  <div mat-dialog-content>
    <div class="userWrapper" *ngIf="data.title === 'Excluir'; else formBlock">
      <span>Usuário: {{ data.payment.name }}</span>
      <span>Data: {{ getDate(data.payment.date) }}</span>
      <span>Valor: {{ formatCurrency(data.payment.value) }}</span>
    </div>

    <ng-template #formBlock>
      <form class="paymentModal-form">
        <div class="paymentModal-form-row">
          <mat-form-field appearance="outline">
            <mat-label>Usuário*</mat-label>
            <input
              matInput
              [(ngModel)]="data.payment.name"
              name="name"
              placeholder="Usuário*"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Valor*</mat-label>
            <input
              matInput
              placeholder="Valor*"
              [(ngModel)]="data.payment.value"
              name="value"
              type="number"
            />
          </mat-form-field>
        </div>

        <div class="paymentModal-form-row">
          <mat-form-field appearance="outline">
            <mat-label>Data*</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              name="date"
              [(ngModel)]="data.payment.date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Título</mat-label>
            <input
              matInput
              placeholder="Título"
              [(ngModel)]="data.payment.title"
              name="title"
            />
          </mat-form-field>
        </div>

        <div class="paymentModal-form-row">
          <mat-checkbox name="isPayed" [(ngModel)]="data.payment.isPayed"
            >Pago?</mat-checkbox
          >
        </div>
      </form>
    </ng-template>

    <div class="paymentModal-form-buttonsWrapper">
      <button
        class="paymentModal-form-buttonsWrapper-cancel"
        mat-button
        mat-dialog-close
      >
        Cancelar
      </button>

      <div *ngIf="data.title === 'Excluir'; else addOrEdit">
        <button
          class="paymentModal-form-buttonsWrapper-submit"
          (click)="deletePayment(data.payment)"
          type="submit"
        >
          Excluir
        </button>
      </div>

      <ng-template #addOrEdit>
        <button
          (click)="
            data.title === 'Editar'
              ? updatePayment(data.payment)
              : createPayment(data.payment)
          "
          class="paymentModal-form-buttonsWrapper-submit"
          type="submit"
        >
          Editar
        </button>
      </ng-template>
    </div>
  </div>
</div>
