
<div class="content">
    <mat-card-title class="titleForm">Alterar pagamento</mat-card-title>
    <form>
        <mat-form-field class="inputForm">
            <input matInput placeholder="Usuário" [(ngModel)]="payment.username" name="username" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor" [(ngModel)]="payment.value" name="value" required>
        </mat-form-field>
        <mat-form-field class="inputForm">
            <input matInput placeholder="Data" [(ngModel)]="payment.date" name="date" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Título" [(ngModel)]="payment.title" name="title">
        </mat-form-field>
    </form>
    
    <div mat-dialog-actions>
        <button mat-button (click)="closeDialog()" class="buttonSecondary">Cancelar</button>
        <button mat-button (click)="updatePayment()" class="buttonPrimary">Salvar</button>
    </div>
</div>