:host {
  section {        
    padding: 65px 48px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    .payment-button-add {
      align-self: flex-end;
    }

    .payments-table {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
    }
  }
}