<header><h2>PayFriends</h2></header>
<section>
  <h1>Meus Pagamentos</h1>
  <div class="payment-button-add">
    <button>ADICIONAR PAGAMENTOS</button>
  </div>
  <div class="payments-table">    
    <table>
      <thead>
        <tr>
          <th>Usuário</th>
          <th>Título</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Pago</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Col1</td>
          <td>Col2</td>
          <td>27/03/2022</td>
          <td>R$ 100,00</td>
          <td><input type="checkbox" name="" id="" /></td>
          <td>Editar/Remover</td>
        </tr>
        <tr>
          <td>Col1</td>
          <td>Col2</td>
          <td>27/03/2022</td>
          <td>R$ 100,00</td>
          <td><input type="checkbox" name="" id="" /></td>
          <td>Editar/Remover</td>
        </tr>
        <tr>
          <td>Col1</td>
          <td>Col2</td>
          <td>27/03/2022</td>
          <td>R$ 100,00</td>
          <td><input type="checkbox" name="" id="" /></td>
          <td>Editar/Remover</td>
        </tr>
        <tr>
          <td>Col1</td>
          <td>Col2</td>
          <td>27/03/2022</td>
          <td>R$ 100,00</td>
          <td><input type="checkbox" name="" id="" /></td>
          <td>Editar/Remover</td>
        </tr>
        <tr>
          <td>Col1</td>
          <td>Col2</td>
          <td>27/03/2022</td>
          <td>R$ 100,00</td>
          <td><input type="checkbox" name="" id="" /></td>
          <td>Editar/Remover</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
