@import '../../../../../../assets/styles/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Varela+Round&display=swap');

.card{
    &-title{
        font-size: 16px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }
    &-img{
        max-width: 10%;
    }
    &-icon{
        color: $danger;
        &-payed{
            color: $success;
        }
        &-search{
            color: $b;
            position: absolute;
            top: 15px;
            right: 75%;
        }
    }
}

div.dropdown:hover ul.dropdown-menu {
    top: 46px; 
    display: block; 
}

.align-center{
    align-items: center;
}