<h2 mat-dialog-title>{{ payment?.name }}</h2>
<main mat-dialog-content class="dialog-container">
  <form [formGroup]="form" (ngSubmit)="save(form.value)">
    <div class="input-group-container">
      <div class="input-container">
        <label>Usuário</label>
        <input type="text" name="username" formControlName="username" value="{{ payment?.username }}" required />
      </div>
      <div class="input-container">
        <label>Valor</label>
        <input
          name="value"
          formControlName="value"
          value="{{ payment?.value }}"
          step="0.01"
          min="0"
          currencyMask
          required
        />
      </div>
    </div>
    <div class="input-group-container">
      <div class="input-container">
        <label>Data</label>
        <input type="date" name="date" formControlName="date" value="{{ payment?.date.split('T')[0] }}" required />
      </div>
      <div class="input-container">
        <label>Cargo</label>
        <input type="text" name="title" formControlName="title" value="{{ payment?.title }}" required />
      </div>
    </div>
    <div class="buttons-container">
      <button mat-dialog-close class="button button-cancel">Cancelar</button>
      <button type="submit" class="button button-submit">Enviar</button>
    </div>
  </form>
</main>
