<div class="content">
  <div class="container d-flex d-md-block">
    <div class="row w-100">
      <div class="col-md-4 contents login-leftCol">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <img src="assets/images/logos/payfriends-logo.png"/>
              <h5 class="login-form-text fw-bold my-3">
                {{openRegistrar ? 'Inscreva-se gratuitamente' : 'Bem vindo de volta'}} 
              </h5>
            </div>
            <form *ngIf="!openRegistrar" action="#" method="post" [formGroup]="loginForm" (ngSubmit)="login()">
              <mat-form-field class="w-100 mb-2" appearance="fill">
                <mat-label>Email</mat-label>
                <input  formControlName="emailFormControl" type="email" matInput [errorStateMatcher]="matcher"
                       placeholder="Ex. email@exemplo.com">
                <mat-error *ngIf="emailError()">
                  {{emailErrorMessage}}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="w-100 mb-3" appearance="fill">
                <mat-label>Senha</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="senhaFormControl" [errorStateMatcher]="matcher">
                <mat-icon matSuffix (click)="toggleHide()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="passwordError()">
                    {{passwordErrorMessage}}
                </mat-error>
                <small class="login-error" *ngIf="wrongPassword">
                  Usuário ou senha incorretos.
                </small>
              </mat-form-field>

              <input
              [disabled]="!loginForm.valid"
                type="submit"
                value="ENTRAR"
                class="btn btn-block btn-primary w-100"
              />
              <span class="login-registrar my-1">
                Não possui conta?
                <a class="login-registrar-link"
                (click)="toggleRegistrar()">Cadastre-se.</a>
              </span>
            </form>

            <form *ngIf="openRegistrar" action="#" method="post" [formGroup]="cadastroForm" (ngSubmit)="login()">
              <mat-form-field class="w-100 mb-2" appearance="fill">
                <mat-label>Nome</mat-label>
                <input  formControlName="nameFormControl" type="text" matInput [errorStateMatcher]="matcher">
              </mat-form-field>
              
              <mat-form-field class="w-100 mb-2" appearance="fill">
                <mat-label>Email</mat-label>
                <input  formControlName="emailFormControl" type="email" matInput [errorStateMatcher]="matcher"
                       placeholder="Ex. email@exemplo.com">
                <mat-error *ngIf="emailError()">
                  {{emailErrorMessage}}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="w-100 mb-3" appearance="fill">
                <mat-label>Senha</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="senhaFormControl" [errorStateMatcher]="matcher">
                <mat-icon matSuffix (click)="toggleHide()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="passwordError()">
                    {{passwordErrorMessage}}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="w-100 mb-3" appearance="fill">
                <mat-label>Confirmar senha</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="confirmaSenhaFormControl" [errorStateMatcher]="matcher">
                <mat-icon matSuffix (click)="toggleHide()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="confirmPasswordError()">
                    {{confirmPasswordErrorMessage}}
                </mat-error>
              </mat-form-field>

              <input
              [disabled]="!cadastroForm.valid"
                (click)="registrar()"
                value="REGISTRAR"
                class="btn btn-block btn-primary w-100"
              />
              <span class="login-registrar my-1">
                Já possui conta? 
                <a class="login-registrar-link"
                (click)="toggleRegistrar()">Faça o login.</a>
              </span>
              <small class="login-error-cadastro" *ngIf="userExists">
                {{userExistsErrorMessage}}
              </small>
            </form>
          </div>
        </div>
      </div>

      <div class="d-none d-md-block col-md-8 login-rightCol d-flex">
        <img
          src="assets/images/login-humaans.svg"
          alt="Image"
          class="img-fluid h-100"
        />
      </div>
    </div>
  </div>
</div>
