.payment-list-container {
    width: 100%;
    background-color: white;
    
    .table-header {
        height: 64px;   
    }

    .table-list {
        width: 100%;

        .table-columns {
            border-bottom: solid 1px black;
            margin: 10;
        }

        .table-items {
            padding: 10px;
        }

    }
}