<div class="payment-list-container">

    <div class="table-header">
        <input />
        <button>Filtros</button>
    </div>

    <table class="table-list">
        <tr>
            <th class="table-columns">Usuário</th>
            <th class="table-columns">Pago</th>
            <th class="table-columns">Valor</th>
            <th class="table-columns">Título</th>
            <th class="table-columns"></th>
            <th class="table-columns"></th>
        </tr>

        <tr *ngFor="let payment of paymentList;">
            <td class="table-items">{{ payment.name }}</td>
            <td class="table-items">{{ payment.isPayed }}</td>
            <td class="table-items">{{ payment.value }}</td>
            <td class="table-items">{{ payment.title }}</td>
            <td class="table-items" colspan="1" (click)="openEditModal(payment)">Editar</td>
            <td class="table-items" colspan="1" (click)="openDeleteModal(payment)">Excluir</td>
        </tr>

    </table>
</div>

<ng-container #addPayment></ng-container>
<ng-container #editPayment></ng-container>
<ng-container #deletePayment></ng-container>