.payment-list-container {
    width: 100%;
    background-color: white;
    
    .table-header {

        .page-control .ngx-pagination {
            display: inline-block;

            .current {
                background: $primary-button-color;
                padding: 4px 8px;
                border-radius: 6px;
            }

            a {
                padding: 4px 8px;
                border-radius: 6px;

                &:hover {
                    border-radius: 6px;
                }
            }
        }
    }

    .table-list {
        width: 100%;

        .table-columns {
            border-bottom: solid 1px black;
            margin: 10;
        }

        .table-items {
            padding: 10px;
        }

    }
}