<div class="bg-page">
  <span class="title">
    <h2>Meus pagamentos</h2>
  </span>
  <span class="btn-add">
    <button class="btn btn-primary btn-sm">ADICIONAR PAGAMENTO</button>
  </span>

  <div class="content">
    <div class="form-group table-menu">
      <span>
        <input type="text" placeholder="Pesquisar por Usuário">
      </span>

      <span>
        <ngb-pagination [collectionSize]="payments.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
          [rotate]="true" [boundaryLinks]="true" (pageChange)="refreshPayments()"></ngb-pagination>

        <span>
          <label for="items">Exibir</label>
          <select id="items" name="items" class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshPayments()">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
          </select>
        </span>
      </span>

    </div>
    <table class="table">

      <thead>
        <tr>
          <th scope="col" class="th-6">Usuário</th>
          <th scope="col">Título</th>
          <th scope="col">Data</th>
          <th scope="col">Valor</th>
          <th scope="col">Pago</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr scope="row" *ngFor="let payment of filteredPayments">
          <td class="cell-group-col">
            <span>{{ payment.name}}</span>
            <small>@{{payment.username}}</small>
          </td>
          <td>{{ payment.title}}</td>
          <td class="cell-group-col">
            <span>{{ payment.date | date:'dd/MM/yyyy'}}</span>
            <small>{{payment.date | date:'h:mm a'}}</small>
          </td>
          <td>{{ payment.value}}</td>
          <td><input type="checkbox" [checked]="payment.isPayed"></td>
          <td class="cell-group-row">
            <a class="link-icons"><i class="bi bi-pencil"></i></a>
            <a class="link-icons" (click)="openModal(payment)"><i class="bi bi-x-circle"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>