@import "../../../../assets/scss/modal";


form.form-payment{
    padding: 20px 0;
    .flex-gap{
        display: flex;
        grid-column-gap: 1.2rem;
        -moz-column-gap: 1.2rem;
        column-gap: 1.2rem;

        fieldset{
            width: 100%;

            small.error{
                color: #a33c3b;
            }
        }
    }

    .flex-end{
        display: flex;
        justify-content: flex-end !important;
        grid-column-gap: 1.2rem;
        -moz-column-gap: 1.2rem;
        column-gap: 1.2rem;
        margin-top: 20px;
    }

    label {
        background-color: #ffffff;
    }

    input{
        background-color: #ffffff;
    }

    .btn{
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}