<div class="login">

    <div class="form-container">
        <div class="form-content">

            <img src="../../assets/login/login-logo.png" alt="Homem pagando contas online">

            <h1>Bem-vindo de volta</h1>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <pay-input [config]="emailInputConfig"></pay-input>
                <pay-input [config]="passwordInputConfig"></pay-input>
                <pay-button [config]="loginButtonConfig" (onClick)="onSubmit()" [disabled]="loading"></pay-button>
            </form>

        </div>
    </div>

    <img src="../../assets/login/man-doing-online-payment.png" alt="Homem pagando contas online">

</div>