@import "app/app.component.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $main-font;
  background-color: $default-background-color;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333333;
  margin-bottom: 1.25em;
}
