* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a{
  font-family: Montserrat;
  line-height: 37px;
  margin: 0;
}

input, label{
  font-family: Roboto;
}

h2{
  font-size: 33px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 24px;
  line-height: 36.57px;
}

/*Inputs*/
.input-field{
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.input-field > input{
  width: 326px;
  padding: 15px 15px 15px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  background-color: transparent;
}

.input-field > label{
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  font-size: 12px;
  cursor: text;
  text-align: initial;
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
  left: 13px;
}

.input-field > label.active{
  background: #F2F2F2;
  border-left: 3px solid #F2F2F2;
  border-right: 3px solid #F2F2F2;
  transform: translateY(-7.5px);
}

/*Button*/
.btn-primary{
  background-color: #002D69;
  border: transparent;
}

.btn-primary:hover{
  background-color: #2F82DD;
  border: transparent;
}

/*modal*/
.modal{
  z-index: 1065 !important;
}

/*Error Message*/
.alert-danger {
  color: #E32929;
  padding: 0 0 0 8px;
  font-size: 12px;
  background-color: transparent;
  border: none;
}