<div>
  <toolbar> </toolbar>
  <div class="container">
    <h2>Meus pagamentos</h2>

    <div class="content-card">

      <mat-table class="tasks-table" [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc"
        matSortDisableClear>

        <ng-container cdkColumnDef="name">
          <mat-header-cell *cdkHeaderCellDef class="white-fg">
            <p class="label-header">Usuário</p>
          </mat-header-cell>
          <mat-cell *cdkCellDef="let element">
            <div class="text-truncate">
              <p class="label-name">{{element.name}}</p>
              <p class="label-username">@{{element.username}}</p>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="title">
          <mat-header-cell *cdkHeaderCellDef class="white-fg">
            <p class="label-header">Título</p>
          </mat-header-cell>
          <mat-cell *cdkCellDef="let element">
            <p class="label-title">{{element.title}}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="date">
          <mat-header-cell *cdkHeaderCellDef class="white-fg">
            <p class="label-header">Data</p>
          </mat-header-cell>
          <mat-cell *cdkCellDef="let element">
            <div>
              <p class="label-date">{{convertDate(element.date, 'D MMM YYYY')}}</p>
              <p class="label-time">{{convertDate(element.date,'LT a')}}</p>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="value">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header class="white-fg">
            <p class="label-header">Valor</p>
          </mat-header-cell>
          <mat-cell *cdkCellDef="let element">
            <p class="label-money">{{element.value | currency : 'R$'}}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="isPayed">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header class="white-fg">
            <p class="label-header">Pago</p>
          </mat-header-cell>
          <mat-cell *cdkCellDef="let element">
            <mat-checkbox [(ngModel)]="element.isPayed"></mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
          <mat-header-cell *cdkHeaderCellDef class="white-fg"></mat-header-cell>
          <mat-cell *cdkCellDef="let element" class="header-align-right">
            <button mat-icon-button class="sidebar-toggle">
              <img width="20px" height="20px" src="assets/task/svg/edit.svg">
            </button>
            <button mat-icon-button class="sidebar-toggle">
              <img width="20px" height="20px" src="assets/task/svg/close.svg">
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;" matRipple class="task">

        </mat-row>

      </mat-table>

      <mat-paginator [length]="resultLength" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>

    </div>
  </div>
</div>