@mixin flex() {
    display: flex;
    align-items: center;
  }

.payfriends-delete-task {
    h3 {
        font-size: 18px;
        padding-bottom: 1em;
    }

    &__footer {
        @include flex();
        justify-content: flex-end;
        padding-top: 2.5em;
        button:first-child {
            margin-right: 2rem;
        }
    }
}