pay-modal {
    display: none;

    .pay-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        z-index: 1000;
        overflow: auto;

        .pay-modal-body {
            display: inline-block;
            padding: 20px;
            background: #fff;

            .pay-modal-header {

            }

            .pay-modal-content {
                
            }

            .pay-modal-footer {
                display: flex;
                justify-content: space-between;
            }
        }

    }

    .pay-modal-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: #000;
        opacity: 0.75;

        z-index: 900;
    }

}

body.pay-modal-open {
    overflow: hidden;
}