.table,
table {
  font-family: "Lato";
  width: 100%;
  border-radius: 8px;
  background: white;
  overflow: hidden !important;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 14px;

    &-inputWrapper {
      max-width: 215px;
      height: 32px;
      border: 1px solid #cfdce5;
      border-radius: 6px;
      display: flex;
      align-items: center;

      input {
        padding: 8px;
      }

      mat-icon {
        margin-right: 8px;
      }
    }
  }

  td,
  th {
    width: 25%;
  }

  th.mat-header-cell {
    padding: 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #cfdce5;
  }

  td.mat-cell {
    border: none;
  }

  tr {
    color: #2d3540;
    &.mat-row,
    &.mat-footer-row {
      height: 81px;
    }

    &.mat-header-row {
      height: 52px;
      font-weight: 700;
    }

    .mat-sort-header {
      font-size: 14px;
      font-weight: 700;
      color: #2d3540;
      padding: 12px;
    }
  }

  .mat-row:nth-child(even) {
    background-color: #f5f8fa;
  }

  .mat-row:nth-child(odd) {
    background-color: transparent;
  }

  #userWrapper,
  #dateWrapper {
    display: flex;
    flex-direction: column;

    .secondaryText {
      color: #69788c;
      font-size: 12px;
    }
  }

  #actionsWrapper {
    display: flex;
    gap: 20px;

    mat-icon {
      cursor: pointer;
    }
  }
}
