
    <mat-card-title class="titleForm">Adicionar pagamento</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Usuário*" [(ngModel)]="payment.username" name="username">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor*" [(ngModel)]="payment.value" name="value">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data*" [(ngModel)]="payment.date" name="date">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Título" [(ngModel)]="payment.title" name="title">
        </mat-form-field>
    </form>


<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancelar</button>
    <button mat-button (click)="createPayment()" class="buttonPayment">Salvar</button>
</div>